@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300;600&display=swap');

:root{
    --main-color: #ffb649;
    --black: #555;
    --light-color: #777;
    --bg: #ffedb0;
    --border: .1rem solid rgba(0,0,0,10%);
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,10%);
    --radius: .5rem;
}

*{
    font-family: 'Nunito',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .3s ease-out;
}



html{
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
    font-size: 60%;
}

section{
    padding: 2rem 9%;
}

h1{
    text-align:center;
    padding-bottom: 3rem;
    font-size: 4rem;
}

h1 span{
    color: var(--main-color);
    border-radius: var(--radius);
    text-shadow: 0px 0px 3px black, 0px 0px 8px black, 0px 0px 8px black, 0px 0px 17px black;
    padding: 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    border-bottom: 0.5rem solid var(--main-color);
}

.logo{
    font-size: 3rem;
    font-weight: bold;
   display: flex;
    align-items: center;
    font-family: 'Calligraffitti', cursive;
    letter-spacing: 0.02em;
    color: var(--main-color);
    text-shadow:2px 2px 0px #805a22, 4px 4px 0px rgb(50,50,50);
}

.logo:hover{
    border-bottom:2px, solid;
}

nav{
margin-right:5rem;
}


nav a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin: 0 1.3rem;
    background-color: var(--main-color);
    color: #fff;
    padding: 1rem;
    border-radius: 0 0 0 2rem;
    padding-top:100%;
}

nav a:hover{
    color: var(--main-color);
    background-color: var(--bg);
    padding-bottom:2rem;
    border-radius: 0 0 0 3rem;
}

#laba{
    display:flex;
    align-items: center;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
    background: var(--main-color);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 2;
}

.btn:hover{
    background-color: var(--black);
}

#menubar{
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.3rem;
    border-radius: var(--radius);
    color: white;
    background-color: var(--main-color);
    margin: 0 2rem;
    display:none;
}

#menubar:hover{
    color: var(--main-color);
    background-color: var(--bg);
}

/* BACKGROUND KRASU NOMAINAS VIETA*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  

  .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius:10px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .5s;
  }
  
  input:checked + .slider {
    background-color: var(--main-color);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 3px var(--main-color);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider:before {
    border-radius: 30%;
  }
  /*BEIGAS BACKGROUND KRASU NOMAINAI*/




  /*LOGIN*/

#header img{
    height:4rem;
    width:4rem;
    object-fit: cover;
}

#header .open-button i{
    background-color:var(--main-color);
    border-radius:50% 30% 0 30%;
    height:10rem;
    width:10rem;   
    cursor:pointer;
    font-size:3rem;
    margin-left: 2.5rem;
    display:flex;
    align-items:center;
    justify-content: center;
    border:0.2rem solid black;
}
  

#header .open-button i:hover{
    background-color:var(--bg);
 }

 .open-button {
    background: none;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 20px;
    margin-right:7.3rem;
    margin-bottom:-4.8rem;
    max-width:30px;
    max-inline-size:2rem;
  }
  
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 3px solid #f1f1f1;
    z-index: 9;
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
  }

@keyframes popout {
    from{ right:-200px; bottom: -200px; transform:scale(0) }
    to{right:0px; bottom: 0px;transform:scale(1)}
}
@-webkit-keyframes popout {
    from{right:-200px; bottom: -200px;-webkit-transform:scale(0)}
    to{right:0px; bottom: 0px;-webkit-transform:scale(1)}
}

  .form-popup label{
    font-size:1.5rem;
  }
  
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container .btn {
    background-color: #1aa726;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  .form-container .cancel{
    font-size:2rem;
    font-weight: bold;
    width:3rem;
    align-items: center;
    cursor:pointer;
    border-radius:40%;
    background-color:white;
    background-color: rgb(255, 154, 154);
  }

  .form-container .cancel:hover{
    background-color: rgb(255, 0, 0);
  }


  

  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
/*LOGIN BEIGAS*/



#sakums{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-around;
    padding-top: 10rem;
    background-image: linear-gradient(to bottom, #fff 20% ,var(--bg)70%);
    position: relative;
    border-radius:0 0 10rem 10rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}


#sakums .content{
    flex: 1 1 40rem;
}

#sakums .image, .celattels{
    flex: 1 1 40rem;
 
}

#sakums .image img{
    max-width: 80%;
    position: relative;
    z-index: 2;
    border-radius: 40rem 0rem;
    display:inline-block;
}


.celattels img{
  max-width: 50%;
  position: relative;
  z-index: 2;
  border-radius: 40rem 0rem;
  display:inline-block;
}

#sakums .content h2{
    font-size: 4rem;
    line-height: 2;
}

#sakums .content p{
    font-size: 2rem;
    line-height: 2;
    padding: 1rem 0;
}

.box-container{
    display: grid;
    grid-column:3;
    /* 1fr - aizņemts visu iespējamo vietu */
    /* grid-template-columns: auto auto auto;
    grid-template-columns: repeat(3,1fr); */
    /* grid-template-columns: repeat("auto-fit", minmax(40rem,1fr)); */
    gap: 1.3rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem,45rem));
    justify-content: space-around;
}

#celojumi .virsraksts{
    margin:5rem 0;
    text-align:center;
    color:white;
  font-weight: bold;
  font-size:5rem;
  background-color: var(--main-color);
  text-shadow: 0px 0px 3px var(--bg), 0px 0px 8px var(--bg), 0px 0px 8px var(--bg),
    0px 0px 17px var(--bg);
  border-radius:1rem;
}

#celojumi .fa-solid{
padding:.5rem;
border: 2px solid #caced1;
border-right:0px;
border-radius:  30%  0  0 30%;
height:100%;
background-color: var(--bg);
color:black;
box-shadow: 0px 0px 3px var(--main-color), 0px 0px 8px var(--main-color), 0px 0px 8px var(--main-color),
    0px 0px 17px var(--main-color);
}


#celojumi .sar{
  border-radius: 20%;
  font-size:1.5rem;
  width:fit-content;
  display:flex;
  margin-bottom:2rem;
  min-width: 150px;
  position: relative;
  
}

.sar select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  font-size: 1.5rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: var(--bg);
  border: 2px solid #caced1;
  border-left:0px;
  border-radius: 0 0.25rem 0.25rem 0;
  color: #000;
  cursor: pointer;
}

.sar::before,
.sar::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.sar::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.sar::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}



#celojumi .box, #celojumi .box2{
    text-align: center;
    border: var(--border);
    box-shadow: 0 .5rem 1.5rem rgba(139, 139, 139, 0.726);;
    border-radius: var(--radius);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin:1rem;
    padding:.5rem;
}

/*
#celojumi .box:hover{
animation: 
}
*/
#celojumi .box h3, #celojumi .box2 h3{
    font-size: 2.5rem;
    margin-bottom: 3rem;
    border-bottom: 0.5rem solid var(--main-color);
    text-transform: uppercase;
    padding-top:2rem;
}

#celojumi .box img, #celojumi .box2 img{
    width: 100%;
    height: 30rem;
    border-radius:50% 50% 5% 5%;
}

#celojumi .box .teksts, #celojumi .box2 .teksts{
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
    overflow-y:auto;
    height: 17rem;
}

#celojumi .box .ratings,#celojumi .box2 .ratings{
    font-weight:bold;
    color:white;
    padding-bottom:2rem;
    gap:1rem;
}

#celojumi .box .ratings div, #celojumi .box2 .ratings div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:1.1rem;
   
}

#celojumi .box .ratings .patik, #celojumi .box2 .ratings .patik{
background-color: #23a52e;
border-radius:.5rem 0 0 .5rem;
margin:1rem 0;
width:5rem;
padding:1.1rem 0;
box-shadow:var(--box-shadow);
cursor: pointer;
}
    #celojumi .box .ratings .nepatik, #celojumi .box2 .ratings .nepatik{
        background-color:rgb(175, 41, 41);
        border-radius:0 .5rem .5rem 0;
        margin:1rem 0;
        width:5rem;
        padding:1.1rem 0;
        box-shadow:var(--box-shadow);
        cursor:pointer;
    }

    #celojumi .box .ratings .patik:hover, #celojumi .box2 .ratings .patik:hover{
      background-color: #13661a;
    }


    #celojumi .box .ratings .nepatik:hover, #celojumi .box2 .ratings .nepatik:hover{
      background-color:rgb(128, 30, 30);
    }
#celojumi .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
    background: var(--main-color);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 2;
    width:27rem;
}

#celojumi .btn:hover{
    background-color: var(--black);
}

#parmums {

    padding-top: 10rem;
    background-image: linear-gradient(to top, #fff 20% ,var(--bg)70%);
    border-radius: 10rem 10rem 0 0;
    box-shadow: var(--box-shadow);
    padding:1rem;
    margin-top:auto;
}


#parmums .rind{
  display: flex;
  justify-content: center;
  margin-left:10%;
}

#parmums .Par{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding:2rem;
    width:70%;
}

ul{
  list-style: none;
}
footer{
    padding: 70px 0;
    position: absolute;
  bottom: 0;
}
.icon{
   width: 25%;
   padding: 10px 15px;
}
.icon h3{
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.icon h3::before{
  content: '';
  position: absolute;
  bottom: -10px;
  background-color: #777;
  height: 2px;
  box-sizing: border-box;
  width: 40px;
}


.icon ul li a{
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
  color:#14a2c5;
  font-weight: 200;
}
.icon ul li a:hover{
  color: #0051ff;
  padding-left: 8px;
}
.icon .socialie a{
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: var(--main-color);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 30px;
  border:1px,solid;
  border-radius: 50%;
  color:black;
}
.icon .socialie a:hover{
  color: gray;
  background-color: var(--bg);
}

@media(max-width: 767px){
  .icon{
    width: 50%;
    margin-bottom: 30px;
}
}

@media(max-width: 1800px){
  .icon{
    width: 50%;
}
}
@media(max-width: 574px){
  .icon{
    width: 100%;
}
}



/* --------------------------------------------- ADMIN SADAĻA ---------------------------------------------*/
.current{
    color: var(--main-color);
    background-color: var(--bg);
    padding-bottom:2rem;
    border-radius: 0 0 0 3rem;
}

#stati .kopsavilkums{
    margin: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
}

#stati .kopsavilkums .info-box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
    padding: 2rem 0 ;
    text-align: center;
    display: flex;
    justify-content: space-around;
    transition: transform 0.3s ease;
    background-image: linear-gradient(to bottom,var(--bg)-10%, #ffffff 50% ,var(--bg)110%);
    margin:1rem 0;
  }

.statistika{
  width:30rem;
}




.info-box span{
    width: 10rem;
    height: 7rem;
    font-size: 3rem;
    color: var(--main-color);
    border-radius: var(--radius);
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 .5rem 1.5rem rgba(139, 139, 139, 0.726);
}

.info-box h3{
    color: var(--black);
    padding: 1rem;
    font-size: 1.7rem;
}

.info-box p{
    color: var(--black);
    font-size: 1.3rem;
}

.info-box:hover {
  transform: scale(1.05);
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.chart-container canvas {
  border:var(--border);
  box-shadow: #777;
  box-shadow: 0 0.5rem 1.5rem rgba(119, 119, 119, 0.5); /* Adjusted box-shadow */
  padding:1rem;
}

.topslice {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
}

.bottomslice {
  clip-path: polygon(0% 65%, 100% 50%, 100% 100%, 0% 100%);
  background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}


.wrappers{
  display: grid;
  place-content: center;
  background-color: var(--background-color);
  min-height: 50vh;
  font-family: "Oswald", sans-serif;
  font-size: clamp(1.5rem, 1rem + 18vw, 5rem);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
}

.wrappers > div {
  grid-area: 1/1/-1/-1;
}



.admin .row{
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.admin .row .info1{
    flex: 1 1 45rem;
}

.admin .row .info2{
    flex: 1 1 20rem;
}

.head-info{
    display: flex;
    justify-content: space-between;
    background: #f8f8f8;
    color: var(--black);
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.admin .defaultborder{
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
}

.head-color{
    background: var(--bg);
}

table{
    font-size: 1.5rem;
    width: 100%;
}

th, td{
    text-align: center;
    height: 4rem;
    border-bottom: .5rem solid #ddd;
}

th{
    color: var(--black);
}

tr:hover{
    background: var(--bg);
}

.adminTable{
    font-size: 1.3rem;
    table-layout: fixed;
    min-width:50rem;
    overflow:auto;
    overflow-x: auto;
    scroll-behavior: smooth;
}


.admin .btn{
    margin: 0;
    padding: .5rem 1.5rem;
    font-size: 1.2rem;
}

.stati .kopsavilkums{
  margin: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
  gap: 1.5rem;
}

.stati .kopsavilkums .info-box{
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);
  padding: 2rem 0 ;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.info-box span{
  width: 7rem;
  height: 7rem;
  font-size: 3rem;
  color: var(--main-color);
  background: var(--bg);
  border-radius: var(--radius);
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-box h3{
  color: var(--black);
  padding: 1rem;
  font-size: 1.7rem;
}

.info-box p{
  color: var(--black);
  font-size: 1.3rem;
}


.actionbtns{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.add  label{
    font-size:1.5rem;
  }
  
  .add  {
    max-width: 200rem;
    padding: 10px;
    background-color: white;
  }

.add input[type=text], .add input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .add input[type=text]:focus, .add input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .add .btn {
    background-color: var(--main-color);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 2rem;
    margin-bottom:10px;
    opacity: 0.8;
  }

/* ------------------------------------------------------------------------------------------*/
@media (max-width: 1080px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 1400px){
    #menubar{
        display: block;
    }


    nav{
        position:absolute;
        top: 115%;
        right: 2rem;
        background: #fff;
        box-shadow: var(--box-shadow);
        border: var(--border);
        border-radius: var(--radius);
        width: 30rem;
        transform: scale(0);
        transform-origin: top;
    }

    nav.active{
        transform: scale(.7);
    }

    nav a{
        font-size: 3rem;
        border-radius: var(--radius);
        display: block;
        margin: 1rem;
        padding: 1rem;
    }
}


@media (max-width: 875px){
    #sakums .content{
        text-align:center;
    }

    header, section{
        padding: 2rem 4%;
    }

}


@media (min-width: 1800px){
  .visi{
    display:flex;
    justify-content: center;
    width:30%;
  }

  

  #celojumi .box .ratings,#celojumi .box2 .ratings{
    display: flex;
        justify-content: space-evenly;
    }
    
  
  .SLIDI {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#celojumi .box2{
  margin:0 1rem;
}
}

@media(max-width:1799px){
  .visi{
    width:45rem;
  }
  
  .prev, .next{
    height:60rem;
    align-items: center;
  }

 .SLIDI{
        display:flex;
        flex-direction: column;
        align-items: center;
        height:245rem;
        margin-bottom:1rem;
 }

  .prev, .next {
    transform: rotate(90deg);
}
#celojumi .box2{
  margin:1rem;
}
}



/* SLIDESHOWS */
.visi {
    font-family:Arial;
  }
  
  .box2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.3rem;
  }
  
  
  .prev, .next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    color:white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color:var(--main-color);
    display:flex;
    justify-content: center;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

.edit, .delete, .adding i{
  background-color:#36d0f7;
  padding:1rem 1.5rem;
  cursor:pointer;
  font-style:normal;
  margin-bottom:1rem;
}

.adding i{
  display: flex;
  justify-content: space-around;
}

.edit, .delete{
  border-radius:15%;
  margin:0 1rem;
}

.edit:hover, .delete:hover, .adding i:hover{
background-color: #0051ff;
color:var(--bg);
}
  .lpp{
    font-size:1.3rem;
    font-style: italic;
  }

  .ppg{
    display: flex;
    justify-content: center;
  }
 .sk{
    font-size:1.4rem;
    padding:0.5rem 1rem;
    margin:1rem;
    font-weight: bolder;
    text-align: center;
    border: .5px solid, var(--main-color);
    border-top: 0px;
    width:fit-content;
    border-radius:0 0 20% 20%;
 }

 .papildus{
  display:flex;
  justify-content: center;
  align-items: center;
 }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes slide {
    from {opacity: .4}
    to {opacity: 1}
  }

.pieteikumam{
  position:fixed;
  width:100%;
}

.index{
  position:relative;
}
  /*LOADIN ANIMACIJA
  
.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

ANIMACIJA BEIGAS LOADING*/

.celosana{
  width:100%;
  height:60rem;
  padding: 2rem 0;
  display:flex;
  justify-content: center;
  height:fit-content;
}



.celosana form{
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);
  background-image: linear-gradient(to bottom,var(--bg)-10%, #fff 50% ,var(--bg)110%);
  padding: 2rem;
  width: 100%;
  height:fit-content;
}

.celosana form h1{
  font-style: italic;
  font-family: 'Nunito',sans-serif;
}

.celosana form .inputs{
  justify-items: start;
  margin: 3rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.celosana label{
  font-size:2.5rem;
  text-align:right;
  margin-right:1rem;
}

.celosana .laiks{
  font-size:2rem;
  text-align:right;
  margin-right:1rem;
  text-align: center;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.celosana form .btn{
width:100%;
}

#sakums .virsrksts{
  display:flex;
  justify-content: space-around;
}

#sakums .celapraksts{
  width:50%;
  margin-bottom:1rem;
  font-size:1.7rem;
}

.parinfo{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  margin:1rem;
}

.parinfo img, .parinfo iframe{
  width:  70rem;
  height: 60rem;
  object-fit:cover;
  margin:2rem
}

.parinfo img::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.parinfo img:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}



/*KUBS*/

.kubacons {
	position: relative;
	top: -80px;
	transform: skewY(-20deg);
	animation: animate 5s linear infinite;
	.cube {
		position: relative;
		z-index: 2;
		&:nth-child(2) {
			z-index: 1;
			translate: -60px -60px;
		}
		&:nth-child(3) {
			z-index: 3;
			translate: 60px 60px;
		}
		div {
			position: absolute;
			display: flex;
			flex-direction: column;
			gap: 30px;
			translate: calc(-70px * var(--x)) calc(-60px * var(--y));
			span {
				position: relative;
				display: inline-block;
				width: 50px;
				height: 50px;
				background-image:URL("https://media.cnn.com/api/v1/images/stellar/prod/190819164202-beautiful-places-in-latvia-ventspils-2.jpg?q=w_1110,c_fill");
				z-index: calc(1 * var(--i));
				transition: 1s;
				&:hover {
					transition: 0s;
					background: #ef4149;
					filter: drop-shadow(0 0 30px #ef4149);
					&:before, 
					&:after {
						transition: 0s;
						background: #ef4149;
					}
				}
				&:before {
					content: "";
					position: absolute;
					left: -40px;
					width: 40px;
					height: 100%;
					background: #fff;
					transform-origin: right;
					transform: skewY(45deg);
					transition: 1.5s;
				}
				&:after {
					content: "";
					position: absolute;
					top: -40px;
					left: 0px;
					width: 100%;
					height: 40px;
					background: #f2f2f2;
					transform-origin: bottom;
					transform: skewX(45deg);
					transition: 1.5s;
				}
			}
		}
	}
}
/*KUBA BEIGAS*/